@import "colors";
@import "variables";
@import "mixins";
@import "utils";
@import "animations";

// Temp
body {
  background: $white;
  font-family: sans-serif;
}

a { color: $blue; }

.avatar {
  @include border-radius;
  width: rem(40);
  height: rem(40);
  overflow: hidden;
  img { width: 100% }
}

// Forms
.field {
  margin-bottom: rem(20);

  > label {
    display: block;
  }


  input[type='text'] {
    @include border-radius;
    height: rem(30);
    text-indent: rem(10);
    border:1px solid $ccc;
    width: 100%;
  }

  nav.colors {
    @include flex-container;
  }

  .favorite-check {
    @include flex-container;
    background: $light;
    padding: rem(20);

    input,
    span {
      margin-right: rem(10);
    }
  }
}

.actions {
  @include flex-container;
  align-items: center;
  .button,
  .cancel {
    @include fbox;
    margin-right: rem(20);
  }

  .button {
    @include button($blue, $white);
    padding: rem(10) rem(20);
    font-size: rem(22);
  }
}

// Navbar
#navigation-bar {
  color: $dark;
  border-bottom: 1px solid $ccc;

  .navbar {
    @include flex-container;
    align-items: center;
    padding: rem(20);

    &.user {
      @include flex-container;
      align-items: center;

      .user-info,
      .add-category {
        @include fbox(1);
      }

      .user-info {
        .bio {
          @include flex-container;
          align-items: center;
          flex-direction: row-reverse;
          .avatar {
            margin-right: rem(20);
          }

          .name {
            cursor: pointer;
            transition: color 0.3s;
            position: relative;

            &:hover {
              color: $teal;
            }
          }
        }
      }

      .add-category {
        text-align: right;
        .button {
          @include button($teal, $dark);
        }
      }

    }
  }
}

// Tabs
#startpage-wrapper {
  @include flex-container;
  align-items: stretch;

  #startpage-sidebar,
  #startpage-content {
    @include fbox;
  }

  #startpage-sidebar {
    width: rem(250);
    nav.user-categories {
      @include flex-container;
      flex-direction: column;
      padding: rem(20);

      a.category-item,
      label,
      .add-category {
        @include fbox(1);
      }

      label {
        font-size: rem(12);
        color: $ccc;
        margin-bottom: rem(20);
        text-transform: uppercase;
      }

      a.category-item {
        cursor: pointer;
        transition:all 0.3s;
        color: $dark;
        text-decoration: none;
        padding: rem(10) rem(5);
        width: 100%;

        &:hover {
          background: $light;
        }
        &.active {
          background: $dark;
          color: $white;
        }
      }

      .add-category {
        margin-bottom: rem(20);

      }
    }

  }
  #startpage-content {
    width: 100%;

    #category-info-controls {
      @include flex-container;
      align-items:baseline;
      padding: rem(20);

      input[type='text']#edit-category-name,
      nav.category-options {
        @include fbox;
      }

      nav.category-options {
        width: 100%;
        text-align: right;

        a {
          @include border-radius;
          margin-left: rem(10);
          padding: rem(5) rem(10);
          text-decoration: none;

          &.delete {
            color: $red;
          }
        }
      }

      input[type='text']#edit-category-name {
        padding: 0;
        font-weight: bold;
        font-size: rem(28);
        border: none;
        outline: none;
        min-width: rem(400);

        &:focus {
          background: $light;
        }
      }
    }

    .bookmark-area {
      @include flex-container

      #editPanel,
      #bookmark-tiles {
        @include fbox;
      }
    }

    #bookmark-tiles {
      padding: rem(20);

      .bookmark-tile-container {
        @include flex-container;
        align-items: stretch;
        flex-wrap: wrap;
      }

      .bookmark-tile {
        @include fbox;
        background: $light;
        padding: rem(5);
        width: 30%;
        margin: rem(2);

        a {
          @include flex-container;
          align-items: top;
          text-decoration: none;
        }

        .bookmark-options {
          @include flex-container;
          padding: rem(5);
          border-top:1px solid $ccc;
          margin-top: rem(5);
          a {
            @include fbox;
            margin-right: rem(10);
            font-size: rem(14);

            &.delete {
              color: $red;
            }
          }
        }

        span {
          display: inline-block;
          &.icon {
            width: rem(20);
            height: rem(20);
            margin-right: rem(10);
            img { width: 100% }
          }
          &.title {
            color: $dark;
          }
        }
      }
    }
  }
}

// Modal
#editPanel {
  background: rgba($black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .window-pane {
    @include shadow;
    background: $white;
    padding: rem(40);
    width: 30%;
    margin: 15% auto;
    position: relative;

    a.close {
      position: absolute;
      top: rem(0);
      right: rem(10);
      font-size: rem(30);
      color: $red;
      text-decoration: none;
    }
  }

}